<div class="about">
  <div class="about-container">
    <h3>Hakkımda</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel laborum aperiam rerum consequuntur atque sunt autem quod incidunt eum numquam distinctio dolorem, assumenda quos optio cumque voluptate eaque? Sit, nesciunt. Ex, dicta quam distinctio ea eius consequuntur voluptatem odit atque mollitia tenetur debitis itaque ullam, officia minus, accusamus repellat architecto accusantium et possimus? Quibusdam illum nihil odit pariatur tenetur neque, possimus error maxime in impedit cumque culpa temporibus vel natus sint. Non, libero praesentium hic quis quia ratione, doloribus voluptates neque nesciunt aliquam adipisci repellendus corporis, eum tenetur expedita dolor aut commodi distinctio aliquid harum sunt. Iste iusto eum vel quia architecto sint modi itaque veritatis. Distinctio consequuntur eum cumque provident aliquid eius veritatis. Vel labore soluta architecto magni debitis!
    </p>
  </div>
</div>
